.margin {
    margin-bottom: 10px;
}

li a {
    color: green;
}

body {
    background: white url("images/dog.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.background {
    width: 100%;
    height: auto;
}

.alot {
    width: 100%;
    height: 100%;
}