{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'demo/style.css' %}"/>
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<form action="#" method="get">

    <input type="submit" class="btn btn-primary alot" value="Click" name="bulkbtn">
</form>
{{ bulk }}
{{ cookie }}