{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'demo/style.css' %}"/>
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
<form action="/demo/changedocument/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {#    Select Email of the person you want to change#}
    {#    <select name="select_name">#}
    {#        {% for message in message %}#}
    {#            <option value={{ message }}>{{ message }}</option>#}
    {#        {% endfor %} #}
    {#    </select>#}
    {#    new first name<input type="text" value="" name="newnamechange"/>#}

    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}

</form>
