{% load static %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<link rel="stylesheet" type="text/css" href="{% static 'demo/style.css' %}"/>
{% buttons %}
    <a href="/demo/addDocument/" class="btn btn-info margin" role="button">Add a document</a> <br>
    <a href="/demo/removeDocument/" class="btn btn-info margin" role="button">Delete a document</a> <br>
    <a href="/demo/changedocument/" class="btn btn-info margin" role="button">Change a document</a> <br>
    <a href="/demo/addonetoomanydocument/" class="btn btn-info margin" role="button">Add a document with an one to many
        relationship</a> <br>
    <a href="/demo/bulkinsert/" class="btn btn-info margin" role="button">Make the browser freeze</a> <br>
    {#    <a href="/demo/queries/" class="btn btn-info margin" role="button">Make fancy queries</a> <br>#}
    <a href="/demo/results/" class="btn btn-info margin" role="button">Watch all the documents</a> <br>
{% endbuttons %}
