{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'demo/style.css' %}"/>
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<link rel="stylesheet" type="text/css" href="{% static 'demo/style.css' %}"/>


{#<form action="#" method="get">#}
{#    Insert Email of the person you want to delete <label>#}
{#    <input type="text" value="" name="mytextbox"/>#}
{#</label>#}
{#    <input type="submit" class="btn" value="Click" name="mybtn">#}
{#</form>#}

<form action="/demo/removeDocument/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>