{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'demo/style.css' %}"/>
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<H2>USER TABLE</H2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Comment</th>
        </tr>
        </thead>
    {% for r in userlist %}
        {% cycle '<tr>' '' '' '' '' %}
        <td>{{ r }}</td>
        {% cycle '' '' '' '' '</tr>' %}
    {% endfor %}

</table>

<H2>COOKIE TABLE</H2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cookie name</th>
            <th>Consumer</th>
        </tr>
    </thead>
    {% for r in cookielist %}
        {% cycle '<tr>' '' '' %}
        <td>{{ r }}</td>
        {% cycle '' '' '</tr>' %}
    {% endfor %}

</table>
<H2>CAR TABLE</H2>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Car Brand</th>
        <th>Owners</th>
    </tr>
    </thead>
    {% for r in carlist %}
        {% cycle '<tr>' '' '' %}
        <td>{{ r }}</td>
        {% cycle '' '' '</tr>' %}
    {% endfor %}

</table>

<h2>Bulk Count {{ bulkie_bulkie_count }} </h2>